.header-outlet-container {
    position: sticky;
    display: flex;
    top: 0;/*to stick on top */
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    background-color: transparent;
    height: 10vh;/*view hight"makes more flexable" */
    color: white;

    transition: all 0.5s;/* smoothly animate changes*/
    transition-timing-function: ease-in;/* controls how the transition progresses over time*/
    z-index: 1;
}

/* .nav-black {
    background-color: rgb(20, 20, 20);
} */

.header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left ul{
    width: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    
}



.header-right ul{
    width: 150%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    /* background-color: lightgreen; */
}